body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);

  background-color: #849d8f;
}

/*отмена подчеркиваний у ссылок*/
a {
  text-decoration: none;

}

.main-navigation {
  color: rgb(255, 255, 255);
}

/*отмена маркеров у списка*/
.site-navigation,
.user-navigation,
.catalog-variants {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  position: relative;
  text-decoration: underline;
  color:red;
  color: rgb(255, 255, 255);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  text-decoration: none;
  color: rgb(50, 50, 50);
  background-color: rgb(247, 246, 243);
  position: relative;
  padding: 5px 15px;
  border-radius: 20px;
}

/* ----- Слайдер ----- */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600px;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  /*background-size: 1038px 894px;*/
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.site-navigation a {
  margin-right: 26px;

}

.catalog-variants a {
  margin: 0;
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  text-decoration: none;
}

.catalog-variants a:hover {
  background-color: #fbded7;
}

.catalog-variants a:active {
  background-color: #f6b5a5;
}

.catalog-variants-item {
  padding-top: 10px;
}

.navigation-catalog {
  position: relative;
}

.catalog-variants {
  position: absolute;
  top: 30px;
  left: -9999px;

  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.35);
}

.catalog-variants {
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 15px;
  width: 115px;
  font-size: 14px;
  font-weight: normal;  
  background-color: #f8f7f4; 
  border-radius: 5px;
}

.navigation-catalog:hover .catalog-variants  {
  left: -20px;
}

.catalog-variants li:first-child {
  padding-bottom: 10px;
  font-weight: bold;
  background-color: #f8f7f4;
  border-bottom: 1px solid #d1d0ce;
}

.login-password-info a{
  font-size: 13px;
  line-height: 1.846;
  font-weight: normal;
  text-decoration: underline;
  color: rgb(50, 50, 50);
}

.work_time {
 	font-size: 14px;
  	line-height: 1.143;
}
.work_time a {
  	font-size: 22px;
  	color: rgb(255, 255, 255);
  	line-height: 1.091;
}

.promotion-list,
.promotion-button
 {
  	font-size: 17px;
  	line-height: 22px;
}

.promotion-button
 {
	padding-right: 25px;
	padding-left: 25px;
}

.promotion-list h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 41px;

}

.promotion-wrapper {
  font-size: 18px;
  line-height: 22px;
}

.popular-list a,
.catalog-list a {
  text-decoration: underline;
  font-size: 16px;
  line-height: 1.375;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: center;
}

.popular-price,
.catalog-price {
  font-size: 45px;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.advantages-list {
  list-style: none;
}

.advantages-company {
  line-height: 1.25;
  font-size: 24px;
  color: rgb(50, 50, 50);

}

.advantages-list {
  line-height: 30px;
  font-weight:normal;
  color: rgb(50, 50, 50);
  line-height: 22px;
}

.preview_post h2 {
  font-size: 24px;
  text-decoration: underline;
  color: rgb(50, 50, 50);
  line-height: 1.25;
}

.preview_post p {
  font-size: 16px;
  color: rgb(50, 50, 50);
  line-height: 1.375;
}

.subscription p {
  font-size: 16px;
  color: rgb(90, 90, 90);
  line-height: 1.375;
}

.subscription-button {
  font-size: 18px;
  line-height: 1.333;
  padding-right: 20px;
  padding-left: 20px;
}


.visually-hidden {
  display: none;
}

.contacts,
.contacts-phone a {
  font-size: 14px;
  font-weight: normal;
  color: rgb(50, 50, 50);
  line-height: 1.429;
}

.contacts-address b,
.contacts-phone a {
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.333;
}

.appointment-item input {
  font: inherit;
	border: 2px solid #d3d3d2;
}

.appointment-item input:hover {
	border: 2px solid #c7c6c5;
}

.appointment-item input:focus {
	border-color: #8fbdec;
}

.appointment-item input:active {
	border-color: #d3d3d2;
}

.main-footer {
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.footer-documentation {
  list-style: none;
}
.footer,
.footer-button{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.footer:hover,
.footer:focus,
.footer:active,
.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  color: rgb(255, 188, 158);
}

.inner-page {
  background-color: #9bafa4;
}

.site-navigation-current a {
  text-decoration: none;
  background-color: rgb(208, 112, 88);
  position: relative;
  padding: 5px 15px;
  boder: 1 solid rgb(208, 112, 88);
  border-radius: 20px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current:hover .catalog-variants {
  left: -20px;
}

.container h1 {
  font-size: 35px;
  line-height: 1.171;
}

.breadcrumbs li{
  font-weight: normal;
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.143;
  text-decoration: underline;
  position: relative;
  padding: 5px 15px;
  border-radius: 20px;
}

.breadcrumbs.breadcrumbs-current a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.143;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
  color: rgb(50, 50, 50);
  background-color: rgb(247, 246, 243);
}

.filter fieldset {
  border: none;
}

.filter {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.125;
}

.filter legend,
.filter p{
  font-size: 14px;
  line-height: 1.143;

}

.sorting option:first-child {
  font-weight: bold;
  color: rgb(50, 50, 50);
  line-height: 1.125;
}

.pagination-list,
.pagination-button {
  font-weight: normal;
  list-style: none;
  color: rgb(255, 255, 255);
}

.pagination-list a,
.pagination-button {
  color: rgb(255, 255, 255);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-button:hover,
.pagination-button:focus {
  border-radius: 50%;
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.login-link {
  position: relative;
}

.login-form {
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  padding: 5px 20px;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: -9999px;
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.35);
}

.login-link:hover .login-form {
  left: -155px;
}

.email-icon,
.password-icon,
.name-icon {
  width:225px;
  height:8px;
  padding:18px 0;
  padding-left: 15px;

  border:1px solid #d3d3d2;
  border-radius:6px;
}

.login-button {
  font-size: 18px;
  line-height: 1.333;
  padding: 10px 28px;
}

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1200px;
  min-height: 2416px;
}

.site-wrapper {
  min-width: 1200px;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;

  /* Временно для сетки */
  min-height: 500px;
  /*outline: 1px solid blue;*/
  box-sizing: border-box;
}

.main-header {
 /* margin-bottom: 0;*/

  /* Временно для сетки */
  min-height: 100px;
  /*outline: 1px solid green;*/
}

.main-navigation {
  display: flex;
  flex-direction: row;

  /* Временно для сетки */
  min-height: 55px;
  /*outline: 1px solid red;*/
}

.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;

  /* Временно для сетки */
  /*outline: 1px solid yellow;*/
}

.site-navigation {
  margin: 0;
  padding-top: 23px;
  display: flex;
  flex-direction: row;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  /*outline: 1px solid yellow;*/
}



.user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  /*outline: 1px solid yellow;*/

}

.time-wrapper {
  margin-left: auto;
  margin-top: -34px;

  display: flex;
  flex-direction: row;

  list-style: none;

  /* Временно для сетки */
  width: 167px;
  min-height: 43px;
  /*outline: 1px solid yellow;*/
}

.user-navigation a {
  margin-left: 23px;
}

.navigation-search {
  font-size: 0;
  position: relative;
}

.search-form {
  width: 312px;
  height: 45px;

  padding: 15px;
  background: #f8f7f4;
  border-radius: 5px;
  position: absolute;
  top: 42px;
  left: -9999px;
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.35);
}

.navigation-search:hover .search-form {
  left: -250px;
}


.search {
  width:315px;
  font-size: 14px;
  line-height: 1.714;

  /*margin-bottom: 5px;  */
  padding:10px 0;
  padding-left: 15px;

  border:1px solid #d3d3d2;
  border-radius:6px;
}

.slider {
  padding-top: 265px;

  /* Временно для сетки */
  min-height: 256px;
  display: flex;
  flex-direction: column;
  list-style: none;
  /*outline: 1px solid white;*/
}

.slider-controls {
  padding-bottom: 15px; 
  /* Временно для сетки */
  width: 100px;
  min-height: 30px;
  /*outline: 1px solid yellow;*/
}

.slider-list {
  margin-left: auto;
  margin-right: auto;

  /* Временно для сетки */
  width: 700px;
  min-height: 210px;
  /*outline: 1px solid yellow;*/
}

.promotion-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  /* Временно для сетки */
  width: 560;
  min-height: 230px;
  /*outline: 1px solid red;*/
}

.promotion-item {
  /* Временно для сетки */
  width: 560px;
  min-height: 228px;
  /*outline: 1px solid yellow;*/
}

.promotion-title {
  margin: 20px;
  /* Временно для сетки */
  width: 319px;
  min-height: 37px;
  /*outline: 1px solid green;*/
}

.promotion-description {
  margin: 20px;
  display: flex;
  flex-direction: column;

  /* Временно для сетки */
  width: 505px;
  min-height: 40px;
  /*outline: 1px solid green;*/
}

.promotion-wrapper {
  margin-top: 40px;
  margin-left: auto;
  margin-right: 25px;

  display:flex; 
  justify-content: flex-end;

  /* Временно для сетки */
  width: 190px;
  min-height: 44px;
  /*outline: 1px solid green;*/
}

.promotion-background-first {
	background-image: url("../img/raspberries.jpg");
  	background-repeat: no-repeat;
  	background-position: -50px -90px;
  	border-radius: 15px;
  	height: 228px;
}

.promotion-background-second {
	background-image: url("../img/chocolate.jpg");
  	background-repeat: no-repeat;
  	background-position: -230px -100px;
  	border-radius: 15px;
  	height: 228px;
}

.popular-list {
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  display: flex;
  list-style: none;

  /* Временно для сетки */
  min-height: 52px;
  /*outline: 1px solid pink;*/
}

.popular-item {
  /*margin-bottom: 20px;*/
  margin-right: 26px;
  
  min-width: 267px;
  min-height: 330px;
  /*outline: 1px solid orange;*/
}

.popular-item:last-child {
  margin-right: 0;
}

.popular-hit {
  display: block;
  border-radius: 100%;
  width: 61px;
  height: 61px;
  margin-top: -270px;

  /*outline: 1px solid yellow;*/
}

.popular-price img{
  margin-top: -40px;
  margin-left: -37px;
  
  display: block;
}

.popular-weight {
	display: block;
	margin-left: 115px;
	margin-top: -68px;
	font-size: 28px;
	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);	
}

.price-wrapper {
  margin-top: 147px;
  display: block;
  min-width: 158px;
  min-height: 37px;
  /*outline: 1px solid yellow;*/
}

.popular-description {
  display: block;
  margin-top: 32px;
  min-width: 252px;
  min-height: 41px;
  /*outline: 1px solid yellow;*/
}

.popular img {
  border-radius: 100%;
  min-width: 100%;
  min-height: 100%;
  /*outline: 1px solid yellow;*/
}

.advantages {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  border-radius: 15px;
  height: 308px;

  list-style: none;
  /* Временно для сетки */
  /*outline: 1px solid green;*/
}

.advantages-company {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 13px;

  /* Временно для сетки */
  min-height: 56px;
  /*outline: 1px solid red;*/
}

.advantages-list { 
  display: flex;
  flex-wrap: wrap;

  /* Временно для сетки */
  min-height: 179px;
  /*outline: 1px solid red;*/
}

.advantages-list:nth-child(3n) {
	margin: 0;
  	padding: 0;
}

.advantages-item {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;

  /* Временно для сетки */
  width: 540px;
  min-height: 75px;
  /*outline: 1px solid orange;*/
}

.advantages-item img {
  margin-bottom: auto;

  /* Временно для сетки */
  width: 51px;
  min-height: 51px;
  /*outline: 1px solid white;*/
}

.advantages-item p {
	margin-top: 10px;
  /* Временно для сетки */
  width: 478px;
  min-height: 60px;
  /*outline: 1px solid white;*/
}

.blog-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
  /* Временно для сетки */
  min-height: 202px;
  /*outline: 1px solid red;*/
}

.preview_post {
  /*margin: 0;*/
  display: flex;
  flex-direction: column;
  
  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: -52px -224px;
  border-radius: 15px;
  height: 228px;
  /* Временно для сетки */
  width: 560px;
  min-height: 222px;
  /*outline: 1px solid yellow;*/
}

.subscription {
  display: flex;
  background: #92cdff;
  background: -webkit-repeating-linear-gradient(-45deg, #f8f7f4 0, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background: -o-repeating-linear-gradient(-45deg, #f8f7f4 0, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background: -moz-repeating-linear-gradient(-45deg, #f8f7f4 0, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background: repeating-linear-gradient(-45deg, #f8f7f4 0, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  border-radius: 15px;

  /* Временно для сетки */
  width: 560px;
  min-height: 222px;
 /* outline: 1px solid yellow;*/
}

.subscription-background {
  display: flex;
  background: "#f8f7f4";
  border-radius: 15px;
  /* Временно для сетки */
  width: 547px;
  min-height: 211px;
  /*outline: 1px solid yellow;*/
}

.post-title {
  margin: 20px;
  margin-top: 10px;
  /* Временно для сетки */
  width: 281px;
  min-height: 82px;
  /*outline: 1px solid black;*/
}

.post-new {
  margin: 20px;
  margin-bottom: 10px;
  /* Временно для сетки */
  width: 165px;
  min-height: 17px;

  /*outline: 1px solid black;*/
}


.subscription-form {
  background: #f8f7f4;
  margin: 5px;
  border-radius: 15px;
  width: 550px;
  height: 218px;
  /*outline: 1px solid black;*/
}

.subscription-description {
  margin: 20px;
  margin-top: 39px;
  margin-bottom: 37px;


/* Временно для сетки */
  width: 511px;
  min-height: 62px;

 /* outline: 1px solid black;*/
}

.subscription-email {
  margin: 20px;
  margin-bottom: 10px;

/* Временно для сетки */
  width: 512px;
  min-height: 45px;

  /*outline: 1px solid black;*/
}

.subscription-email input {
  width:355px;
  height:8px;
  padding:18px 0;
  padding-left: 15px;
  margin-right: 6px;

  border:1px solid #d3d3d2;
  border-radius:6px;
}

.map {
	background-image: url("../img/map.jpg");
	width: 1200px;
	height: 430px;
}

iframe {
	margin-bottom: auto;
	width: 1200px;
	height: 430px;
}

.contacts {
  margin-left: -27px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;

  /* Временно для сетки */
  background: none;
  width: 1200px;
  min-height: 430px;

  /*outline: 1px solid blue;*/
}

.contacts-info {
  margin-top: -365px;
  margin-left: 875px;
  width: 250px;
  height: 265px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  padding: 15px 25px;
  border-radius: 15px;
  /*display: none;*/

  /*outline: 1px solid blue;*/
}

.contacts-button {
  font-size: 18px;
  line-height: 1.333;
  margin-top: 10px;
  padding-right: 25px;
  padding-left: 25px;

  /*outline: 1px solid blue;*/
}

.feedback {
  width: 437px;
  height: 444px;
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  padding: 0 25px;
  border-radius: 5px;
  display: none;

  /*outline: 1px solid blue;*/
}

.feedback-slogan {
  font-size: 24px;
  line-height: 1.167;
  color: rgb(50, 50, 50);
  font-weight: bold;
}

.feedback .email-icon,
.name-icon {
  width:253px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;
}

.answer-icon {
  width:420px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 5px;

  padding:10px 0;
  padding-left: 15px;

  border:1px solid #d3d3d2;
  border-radius:6px;
}

.feedback-button {
  font-size: 18px;
  line-height: 1.333;
  margin-top: 10px;
  padding: 7px 25px;

  /*outline: 1px solid blue;*/
}

/*
.feedback-button:hover .feedback {
  display: block;
}*/

.main-footer {
  margin-top: 20px;
  margin-bottom: 15px;

  /* Временно для сетки */
  background: none;
  min-height: 78px;

  width: 1146px;
  /*outline: 1px solid black;*/
}

.footer-wrapper {
  display: flex;
  min-height: 78px;

  /* Временно для сетки */
  /*outline: 1px solid green;*/
}

.footer-documentation {
  /*margin-bottom: auto;*/
  width: 320px;
  margin: 0;
  padding: 0;
   
  display: flex;
  /*flex-direction: column;**/
  flex-wrap: wrap;

  /* Временно для сетки */
  height: 40px;
  /*outline: 1px solid green;*/
}

.documentation-item {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  width: 170px;
  font-size: 13px;
  line-height: 1.385;
  

  /* Временно для сетки */
  min-height: 16px;
  /*outline: 1px solid white;*/

}

.documentation-item:first-child {
  margin-top: 20px;
  margin-left: -18px;
  width: 160px;
  padding: 0;
}

.documentation-item:nth-child(2) {
  margin-top: 20px;
}
.documentation-item:nth-child(3n) {
  width: 142px;
  margin: 0;
  padding: 0;
}

.footer-social {
  margin-top: 20px;
  width: 188px;
  margin-right: 225px;
  

  /* Временно для сетки */
  min-height: 50px;
  /*outline: 1px solid white;*/
}

.social-button {
  padding-right: 15px;
  font-size: 0px;
}

.footer-copyright {
  width: 190px; 
  margin: 0;
  margin-left: auto;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  /* Временно для сетки */
  min-height: 48px;
  /*outline: 1px solid white;*/
}

.footer-copyright-logo {
  height: 42px;
}
.footer-copyright p {
	margin: 0;
}

/* ----- Сеточные стили каталога ----- */

.basket {
  position: relative;
}

.basket-form {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-top: 25px;
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  top: 30px;
  left: -9999px;

  /* Временно для сетки */
  width: 525px;
  min-height: 210px;
  /*outline: 1px solid red;*/
}

.basket:hover .basket-form {
  left: -415px;
}

.basket-item-2 {
  border-bottom: 1px solid #d1d0ce;
}

.button-form,
.pagination-button,
.skroll_left,
.skroll_right {
  border: 0;
  background: transparent;
  font-size: 0;
}

.basket img {
  border-radius: 100%;
}

.basket-item {
  display: flex;
  flex-direction: row;
  padding-left: 5px;

  /* Временно для сетки */
  width: 500px;
  min-height: 45px;
 /* outline: 1px solid yellow;*/
}

.basket-item a,
.basket-item {
  font-size: 13px;
  font-weight: normal;
  line-height: 1.231;
}

.basket-hr {
  text-align: right;
  width: 490px;
  min-height: 10px;

  /*outline: 1px solid yellow;*/
}

.basket-total {
  display: flex;
  font-size: 15px;
  line-height: 1.2;

  margin: 10px 0;
  margin-left: 395px;
  
  /* Временно для сетки */
  width: 110px;
  min-height: 20px;
  /*outline: 1px solid yellow;*/
}

.basket-wrapper {
  display: flex;
  margin-left: auto;

  width: 162px;
  height: 40px;
  /*outline: 1px solid yellow;*/
}

.basket-remove {
  margin-right: 10px;
  /* Временно для сетки */
  width: 20px;
  min-height: 45px;
  /*outline: 1px solid pink;*/
}

.basket-product-img {
  margin-right: 10px;
  /* Временно для сетки */
  width: 35px;
  min-height: 45px;
  /*outline: 1px solid pink;*/
}

.basket-product {
  margin-right: 20px;
  /* Временно для сетки */
  width: 220px;
  min-height: 45px;
  /*outline: 1px solid pink;*/
}

.basket-product a,
.basket-product a:hover,
.basket-product a:focus {
  margin: 0;
  text-decoration: none;
  color: rgb(50, 50, 50);
  background: transparent;
  display: block;
}

.basket-amount {
  margin-right: 20px;
  /* Временно для сетки */
  width: 100px;
  min-height: 45px;
  /*outline: 1px solid pink;*/
}

.basket-price-kg {
  color: #9f9f9f;
}

.basket-price {
  /* Временно для сетки */
  width: 55px;
  min-height: 45px;
  /*outline: 1px solid pink;*/
}

.basket-main-button {
  font-size: 18px;
  line-height: 1.333;
  width: 162px;
  height: 40px;
  padding: 5px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  margin-top: -34px;
  display: flex;
  flex-direction: row;

  /* Временно для сетки */
  width: 1146px;
  min-height: 24px;
  /*outline: 1px solid pink;*/
}

.breadcrumbs-item {
  padding-right: 10px;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  margin-top: -5px;
  padding: 0;

  /* Временно для сетки */
  min-height: 30px;
  /*outline: 1px solid pink;*/
}

.catalog-columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*outline: 1px solid red;*/
}

.filter {
  width: 895px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* Временно для сетки */
  min-height: 138px;
  /*outline: 1px solid white;*/
}

.filter-sorting {
  width: 195px;
  padding: 0;
  margin: 0;
  padding-top: 5px;

  /* Временно для сетки */
  min-height: 63px;
  /*outline: 1px solid pink;*/
}

.sorting,
.fatty,
.fillers-list {
  padding: 7px 10px;
  background-color: rgba(255,255,255, 0.2);
  color: white;
  border-radius: 20px;
}

.filter-price {
  width: 200px;
  padding: 0;
  margin: 0;
  margin-left: 30px;

  /* Временно для сетки */
  min-height: 61px;
  /*outline: 1px solid pink;*/
}

.skroll {
  width: 165px;
  margin-left: 10px;
  background: #d1dad3;
  display: flex;
  height: 5px;
  margin-top: 20px;
  position: relative;
}

.skroll_left {
  margin-top: -10px;
  margin-left: 5px;
}

.skroll_right {
  margin-top: -10px;
  margin-left: 55px;
}

.skroll_field {
  width: 72px;
  height: 5px;
  background: #f8f7f4;
  position: absolute;
  left: 32px;
}

.filter-fatty {
  width: 415px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  margin-left: 10px;
  padding-left: 20px;

  /* Временно для сетки */
  min-height: 64px;
  /*outline: 1px solid pink;*/
}

.filter-fillers {
  width: 705px;
  padding: 0;
  margin: 0;

  /* Временно для сетки */
  min-height: 65px;
  /*outline: 1px solid pink;*/
}

.fillers-list {
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-top: 6px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;

  /* Временно для сетки */
  min-height: 27px;
  /*outline: 1px solid white;*/
}

.fillers-item {
  padding: 0;
  margin: 0;
  margin-right: 20px;
  display: flex;

  min-width: 98px;
  min-height: 26px;
  /*outline: 1px solid green;*/
}

.fillers-item:last-child {
  margin: 0;
}

.fatty {
  margin: 0;
  padding-left: 15px;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.filter-option {
  padding: 0;
  margin: 0;
  margin-right: 15px;
  display: flex;

  min-width: 58px;
  min-height: 20px;
  /*outline: 1px solid pink;*/
}

.filter-label {
  margin-top: 2px;
  margin-left: 10px;
}

.catalog {
  width: 1146px;

  /* Временно для сетки */
  min-height: 687px;
  /*outline: 1px solid white;*/
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
  min-height: 52px;
  /*outline: 1px solid pink;*/
}

.catalog-item {
  width: 267px;
  margin-bottom: 20px;
  margin-right: 26px;

  /* Временно для сетки */
  min-height: 325px;
  /*outline: 1px solid pink;*/
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-price img{
  margin-top: -40px;
  margin-left: -37px;
  
  display: block;
}

.catalog-weight {
  display: block;
  margin-left: 115px;
  margin-top: -68px;
  font-size: 28px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5); 
}

.catalog-wrapper {
  margin-top: -110px;
  display: block;
  min-width: 158px;
  min-height: 37px;
  /*outline: 1px solid yellow;*/
}

.catalog-description {
  display: block;
  margin-top: 35px;
  min-width: 252px;
  min-height: 41px;
  /*outline: 1px solid yellow;*/
}

.catalog img {
  border-radius: 100%;
  min-width: 100%;
  min-height: 100%;
  /*outline: 1px solid yellow;*/
}

.pagination-button-back {
  transform: rotate(180deg);
}

.pagination-list {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  margin-left: auto;

  display: flex;
  list-style: none;

  /* Временно для сетки */
  width: 195px;
  min-height: 35px;
  /*outline: 1px solid yellow;*/
}

.pagination-item {
  padding: 0;
  margin: 0;
  width: 30px;
  text-align: center;
  margin-bottom: 20px;

  /* Временно для сетки */
  min-height: 30px;
  /*outline: 1px solid pink;*/
}

.pagination-item:first-child { 
  text-align: left;
}

.pagination-item:last-child { 
  text-align: right;
}

.pagination-button-next,
.pagination-button-back {
  padding: 0;
  margin: 0;
}

.filter-button {
  font-size: 16px;
  line-height: 1.125;
  padding: 2px;
  margin-top: 25px;
  margin-left: 25px;
  background-color: #a6b7ae;
  color: #ffffff;
  border: 2px, solid, #a6b7ae;

  width: 140px;
  height: 35px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #a6b7ae;
  color: rgb(50, 50, 50);
  border: solid, 2px, #a6b7ae;
}

.filter-button:active {
  background-color: #eaeaea;
  color: rgb(50, 50, 50);
  border: 2px, solid, #a6b7ae;
}

