body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: rgb(255, 255, 255);

  background-color: #849d8f;
}

/*отмена подчеркиваний у ссылок*/
a {
  text-decoration: none;

}

.main-navigation {
  color: rgb(255, 255, 255);
}

/*отмена маркеров у списка*/
.site-navigation,
.user-navigation,
.catalog-variants {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  text-decoration: none;
  color: rgb(50, 50, 50);
  background-color: rgb(247, 246, 243);
}

/* ----- Слайдер ----- */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider3.png");
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider {
  position: relative;
  
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button:not(.footer-button):not(.filter-button) {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:not(.footer-button):not(.filter-button):hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:not(.footer-button):not(.filter-button):active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider1.png");
  /*background-size: 1038px 894px;*/
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.catalog-variants {
  box-shadow: 2px 8px 20px 5px rgba(0, 0, 0, 0.3);
}

.catalog-variants a:hover {
  background-color: #fbded7;
}

.catalog-variants a:active {
  background-color: #f6b5a5;
}

.navigation-catalog {
  display: inline-block;
}

.navigation-catalog:hover .catalog-variants a {
  display: block;
}

.catalog-variants a {
  font-weight: normal;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  display: none;
}

/* не работает */
.catalog-variants ul li:first-child {
  font-weight: bold;
  background-color: #f8f7f4;
  color: rgb(50, 50, 50);
}

.login-password-info a{
  font-size: 13px;
  line-height: 1.846;
  font-weight: normal;
  text-decoration: underline;
  color: rgb(50, 50, 50);
}

.work_time {
  font-size: 14px;
  line-height: 1.143;
}
.work_time a {
  font-size: 22px;
  color: rgb(255, 255, 255);
  line-height: 1.091;
}

.promotion-list {
  font-size: 12px;
  line-height: 1.222;
}

.promotion-list h3 {
  font-size: 23px;
  font-weight: bold;
  line-height: 1.171;

}

.popular-list a,
.catalog-list a {
  text-decoration: underline;
  font-size: 10.502px;
  line-height: 1.375;
  font-weight: normal;
  color: rgb(255, 255, 255);
  text-align: center;
}

.popular-price,
.catalog-list h3 {
  font-size: 45px;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.popular-description {
  font-size: 10.502px;
  line-height: 1.375;
  text-align: center;
}


.advantages-list {
  list-style: none;
}

.advantages-company {
  line-height: 1.25;
  font-size: 24px;
  color: rgb(50, 50, 50);

}

.advantages-list {
  line-height: 30px;
  font-weight:normal;
  color: rgb(50, 50, 50);
  line-height: 22px;
}

.preview_post h2 {
  font-size: 24px;
  text-decoration: underline;
  color: rgb(50, 50, 50);
  line-height: 1.25;
}

.preview_post p {
  font-size: 16px;
  color: rgb(50, 50, 50);
  line-height: 1.375;
}

.subscription p {
  font-size: 16px;
  color: rgb(90, 90, 90);
  line-height: 1.375;
}

.visually-hidden {
  display: none;
}

.contacts,
.contacts-phone a {
  font-size: 14px;
  font-weight: normal;
  color: rgb(50, 50, 50);
  line-height: 1.429;
}

.contacts-address b,
.contacts-phone a {
  font-size: 18px;
  font-weight: bolder;
  line-height: 1.333;
}

.appointment-item input {
  font: inherit;
	border: 2px solid #d3d3d2;
}

.appointment-item input:hover {
	border: 2px solid #c7c6c5;
}

.appointment-item input:focus {
	border-color: #8fbdec;
}

.appointment-item input:active {
	border-color: #d3d3d2;
}

.main-footer {
  font-weight: normal;
  color: rgb(255, 255, 255);
}

.footer-documentation {
  list-style: none;
}
.footer,
.footer-button{
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.footer:hover,
.footer:focus,
.footer:active,
.footer-button:hover,
.footer-button:focus,
.footer-button:active {
  color: rgb(255, 188, 158);
}

.inner-page {
  background-color: #9bafa4;
}

.site-navigation-current a {
  text-decoration: none;
  background-color: rgb(208, 112, 88);
}

.site-navigation-current {
  display: inline-block;
}

.site-navigation-current:hover .catalog-variants a {
  display: block;
}

.container h1 {
  font-size: 35px;
  line-height: 1.171;
}

.breadcrumbs li{
  font-weight: normal;
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.143;
  text-decoration: underline;
}

.breadcrumbs.breadcrumbs-current a{
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.143;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
  color: rgb(50, 50, 50);
  background-color: rgb(247, 246, 243);
}

.filter fieldset {
  border: none;
}

.filter {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.125;
}

.filter legend,
.filter p{
  font-size: 14px;
  line-height: 1.143;

}

.sorting option:first-child {
  font-weight: bold;
  color: rgb(50, 50, 50);
  line-height: 1.125;
}

.filter-button {
  background-color: rgba(0.1, 0.1, 0.1, 0);
  text-align: center;
  color: #ffffff;
  -webkit-border-radius: 30px;
  border: 2px, solid, rgb(255, 255, 255);
}

.filter-button:hover,
.filter-button:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
  border: solid, 2px, rgb(255, 255, 255);
}

.filter-button:active {
  background-color: #eaeaea;
  color: rgb(50, 50, 50);
  border: 2px, solid, rgb(255, 255, 255);
}

.pagination-list,
.pagination-button {
  font-weight: normal;
  list-style: none;
  color: rgb(255, 255, 255);
}

.pagination-list a,
.pagination-button {
  color: rgb(255, 255, 255);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-button:hover,
.pagination-button:focus {
  border-radius: 50%;
  color: rgb(50, 50, 50);
  background-color: rgb(255, 255, 255);
}

.login-link {
    display: inline-block;
}

.login-link:hover .login-form {
display: block;
}

.login-form {
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
    display: none;
}

*/


/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1200px;
  min-height: 2416px;
}

.site-wrapper {
  min-width: 1200px;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;

  /* Временно для сетки */
  min-height: 500px;
  outline: 1px solid blue;
  box-sizing: border-box;
}

.main-header {
  margin-bottom: 0;

  /* Временно для сетки */
  min-height: 100px;
  outline: 1px solid green;
}

.main-navigation {
  display: flex;
  flex-direction: row;

  /* Временно для сетки */
  min-height: 55px;
  outline: 1px solid red;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  /*margin-left: 27px;*/

  /* Временно для сетки */
  outline: 1px solid yellow;
}

.site-navigation {
  margin: 0;
  padding-top: 23px;
  display: flex;
  flex-direction: row;

  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  outline: 1px solid yellow;
}

.site-navigation a {
  margin-right: 26px;

}

.user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  list-style: none;

  /* Временно для сетки */
  min-height: 70px;
  outline: 1px solid yellow;
}

.time-wrapper {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-top: -34px;

  display: flex;
  flex-direction: row;

  list-style: none;

  /* Временно для сетки */
  width: 167px;
  min-height: 43px;
  outline: 1px solid yellow;
}

.user-navigation a {
  margin-left: 23px;
}

.navigation-search form {
  display: none;
}

.navigation-search a {
  /*font-size: 0;*/
}

.slider {
  margin-bottom: 0;
  /* Временно для сетки */
  min-height: 280px;
  display: flex;
  list-style: none;
  outline: 1px solid white;
}
.slider-controls {
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  width: 100px;
  min-height: 30px;
  outline: 1px solid yellow;
}

.slider-list {
  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;

  /* Временно для сетки */
  width: 700px;
  min-height: 280px;
  outline: 1px solid yellow;
}

.promotion-list {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* Временно для сетки */
  width: 560;
  min-height: 230px;
  outline: 1px solid red;
}

.promotion-item {
  display: flex;
  flex-direction: row;

  /* Временно для сетки */
  width: 560px;
  min-height: 228px;
  outline: 1px solid yellow;
}

.promotion-title {
  margin: 0;

  /* Временно для сетки */
  width: 272px;
  min-height: 37px;
  outline: 1px solid green;
}

.promotion-title {
  margin: 0;

  display: flex;
  flex-direction: column;
  list-style: none;

  /* Временно для сетки */
  width: 512px;
  min-height: 40px;
  outline: 1px solid green;
}

.promotion-item a {
  margin: 0;

  display: flex;
  flex-direction: column;
  list-style: none;

  /* Временно для сетки */
  width: 168px;
  min-height: 52px;
  outline: 1px solid green;
}

.popular-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
  /* Временно для сетки */
  min-height: 52px;
  outline: 1px solid pink;
}

.popular-item {
  margin-bottom: 20px;
  margin-right: 26px;

  /* Временно для сетки */
  min-width: 267px;
  min-height: 330px;
  outline: 1px solid orange;
}

.popular-item:last-child {
  margin-right: 0;
}

.popular img {
    border-radius: 100%;
}

.advantages {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/

  list-style: none;
  /* Временно для сетки */
  min-height: 52px;
  outline: 1px solid green;
}

.advantages-company {
  margin-top: 10px;

  /* Временно для сетки */
  min-height: 56px;
  outline: 1px solid red;
}

.advantages-list {
  margin: 0;
  padding: 0;
  /*margin-bottom: 20px;
  margin-right: 26px;*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  /* Временно для сетки */
  min-height: 179px;
  outline: 1px solid red;
}

.advantages-item {
  margin-right: 26px;
  display: flex;
  justify-content: space-between;

  /* Временно для сетки */
  width: 540px;
  min-height: 79px;
  outline: 1px solid orange;
}

.advantages-item img {
  margin-bottom: auto;

  /* Временно для сетки */
  width: 51px;
  min-height: 51px;
  outline: 1px solid white;
}

.advantages-item p {
  /* Временно для сетки */
  width: 478px;
  min-height: 64px;
  outline: 1px solid white;
}

.blog-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  list-style: none;
  /* Временно для сетки */
  min-height: 202px;
  outline: 1px solid red;
}

.preview_post {
  margin-top: 10px;
  display: flex;
  flex-direction: column-reverse;
  /* Временно для сетки */
  width: 560px;
  min-height: 222px;
  outline: 1px solid yellow;
}

.subscription {
  /*margin-right: 26px;*/
  display: flex;
  justify-content: space-between;

  /* Временно для сетки */
  width: 560px;
  min-height: 222px;
  outline: 1px solid yellow;
}

.post-title {
  /*margin: 0;*/
  /*margin-bottom: auto;*/
  /*margin-right: 26px;*/
  display: flex;
  /*justify-content: space-between;*/

  /* Временно для сетки */
  width: 281px;
  min-height: 82px;
  outline: 1px solid white;
}

.post-new {
  /*margin: 0;*/
  margin-bottom: auto;
  /*margin-right: 26px;*/
  display: flex;
  /*justify-content: space-between;*/

  /* Временно для сетки */
  width: 165px;
  min-height: 17px;
  outline: 1px solid white;
}